main>p {
  font-size: 1rem;
}

.grafico {
  .mensaje {
    max-width: 100%;
    opacity: .8;
    font-size: .8rem;
  }
}

.candidato {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 150px;
  font-family: sans-serif;
  font-size: .8rem;
  .nombre {
    font-weight: bold;
  }
  .personal, .en_lista, .en_padron {
    opacity: .6
  }
  .partido {
    font-weight: bold;
  }
}

.footer {
  font: 12px var(--sans-serif);
  font-size: .8rem;
  color: var(--theme-foreground-faint);
}